$shortcut-size: 128px !default;
$shortcut-padding: 5px !default;

.Shortcut-List {
    &, li {
        display: inline;
    }
}

.Shortcut {
    width: $shortcut-size;
    height: $shortcut-size;
    padding: $shortcut-padding;
    margin: 10px;
    display: inline-block;
    background-color: black;
    border-radius: 10px;
}